html {
    color: rgb(27, 189, 27);
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

body {
    width: 800px;
}

header, section{
    margin: 1em;
    padding: 1em;
    border: solid rgb(27, 189, 27);
    text-align: center;
    border-radius: .5em;
}

button {
    text-decoration: none;
    background-color: black;
    color: rgb(27, 189, 27);
    border-radius: .5em;
    border: solid rgb(27, 189, 27);
    margin-top: 1em;
    padding: .5em;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }
}